
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.datepick{

	& + .datepick{
		margin-top: 15px;
	}

	.select{
		margin-right: 5px;
		margin-top: 5px;
		display: inline-block;
	}
}